<!-- Footer Start -->
<footer class="footer border-t border-gray-200 dark:border-gray-600 mt-auto">
    <div class="h-16 flex items-center px-8 rounded-none">
        <div class="flex justify-center w-full gap-4">
            <div id="footer_capture">
                <!-- <script>document.write(new Date().getFullYear())</script> © Simple  theme by <a href="https://coderthemes.com/" target="_blank" class="text-primary">Coderthemes</a> -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->