<!-- Sidenav Menu Start  -->
<div class="app-menu">
  <!-- Sidenav Brand Logo -->
  <a href="index.html" class="logo-box">
    <!-- Light Brand Logo -->
    <div class="logo-light">
      <img
        src="assets/images/Admin/lastadmin_logo-removebg-preview.png"
        class="logo-lg"
        alt="Light logo"
      />
      <img
        src="assets/images/lastadmin_logo-removebg-preview.png"
        class="logo-sm"
        alt="Small logo"
      />
    </div>

    <!-- Dark Brand Logo -->
    <div class="logo-dark">
      <img
        src="assets/images/lastadmin_logo-removebg-preview.png"
        class="logo-lg"
        alt="Dark logo"
      />
      <img
        src="assets/images/lastadmin_logo-removebg-preview.png"
        class="logo-sm"
        alt="Small logo"
      />
    </div>
  </a>

  <!--- Menu -->
  <div data-simplebar>
    <!-- User Box -->
    <!-- <div class="relative flex flex-wrap items-center justify-center gap-3 mt-5 px-[25px] py-2.5 user-box">
            <img src="assets/images/users/lastadmin_logo-removebg-preview.png" alt="user-image" class="h-12 w-12 rounded-full">
            <div class="user-text">
                <a href="#" class="font-semibold mb-1">Last Admin</a>
                 <p class="text-xs">Administrator</p> 
            </div>
        </div> -->

    <ul class="menu" data-hs-collapse="accordion">
      <!-- <li class="menu-title">Navigation</li> -->

      <li class="menu-item">
        <a href="index.html" class="menu-link">
          <i data-lucide="home" class="menu-icon"></i>
          <span class="menu-text"> Dashboard </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="extras-calendar.html" class="menu-link">
          <i data-lucide="calendar" class="menu-icon"></i>
          <span class="menu-text"> Project </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="extras-contacts.html" class="menu-link">
          <i class="fa-solid fa-list"></i>
          <span class="menu-text"> Task </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="extras-invoice.html" class="menu-link">
          <i class="fa-solid fa-sliders"></i>
          <span class="menu-text"> Dashboard </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="extras-profile.html" class="menu-link">
          <i data-lucide="pie-chart" class="menu-icon"></i>
          <span class="menu-text">Time Log</span>
        </a>
      </li>

      <li class="menu-item">
        <a href="ui-elements.html" class="menu-link">
          <i data-lucide="paint-bucket" class="menu-icon"></i>
          <span class="menu-text"> Resource Mgnt </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="charts.html" class="menu-link">
          <i data-lucide="users" class="menu-icon"></i>
          <span class="menu-text"> Users </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="maps.html" class="menu-link">
          <i data-lucide="map-pin" class="menu-icon"></i>
          <span class="menu-text"> Maps </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">
          <i class="fa-solid fa-diagram-project"></i>
          <span class="menu-text"> Project Template </span>
        </a>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">
          <i class="fa-solid fa-gear"></i>
          <span class="menu-text"> Menu Settings </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Sidenav Menu End  -->
