<meta charset="utf-8">
{{#if title}}
<title>{{title}}  | Last Admin Dashboard</title>
{{~^~}}
<title>Last Admin Dashboard</title>
{{/if}}
<title>@@title | Last Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Simple - Tailwind HTML Admin Dashboard Template, A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
<meta content="coderthemes" name="author">

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">
